include:
  - proxy.yaml

services:
  web:
    build:
      dockerfile: Dockerfile.python
    restart: on-failure
    networks:
      backend:
        ipv4_address: 172.20.0.5
    environment:
      DB_HOST: db
      DB_USER: app
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: example
    depends_on:
      - db

  db:
    image: mysql:8
    restart: on-failure
    networks:
      backend:
        ipv4_address: 172.20.0.10
    ports:
      - 3306:3306
    env_file:
      - .env


